body::before {
    display: block;
    content: '';
    /* height: 60px; */
}

/* body{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
} */

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.navbar{
    height: 10vh !important;
}
.navbar > *{
    font-size: large;
    color: white;
}

.carousel .carousel-item {
    height: 70vh;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    min-height: 500px;
}
.carousel-item img {position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    max-height: 100%;}

/*#middlebox{
    background-color: grey;
}*/

/* .effect{
    box-shadow: 5px 5px 8px 5px rgb(177, 71, 177);
} */

.fadeInUp{
    -webkit-animation: fadeInUp 1.5s both;
    -moz-animation: fadeInUp 1.5s both;
    -o-animation: fadeInUp 1.5s both;
    animation: fadeInUp 1.5s both;
}
@-webkit-keyframes fadeInUp{
    0%{
        opacity: 0;
        -webkit-transform: translateY(50px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@-moz-keyframes fadeInUp{
    0%{
        opacity: 0;
        -moz-transform: translateY(50px);
    }
    100%{
        opacity: 1;
        -moz-transform: translateY(0);
    }
}
@-o-keyframes fadeInUp{
    0%{
        opacity: 0;
        -o-transform: translateY(50px);
    }
    100%{
        opacity: 1;
        -o-transform: translateY(0);
    }
}
@keyframes fadeInUp{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

/* #services{
    background-image: linear-gradient(135deg,rgb(255,0,0,0.2),rgb(255,0,0,0.6));
    background-blend-mode: lighten;
} */
.design:hover{
    background-image: linear-gradient(135deg,black,grey);
    transition:3s;
    border-radius: 5px;
    border: 0;
}

/* #featured{
    background-image: linear-gradient(135deg,rgb(255,0,0,0.4),rgb(255,0,0,0.8));
    background-blend-mode: lighten;
} */

.prop-card{
    border-radius: 0 0 0 0;
}

.properties{
    width: 100%;
    /* border-radius: 1px; */
}

/*ZoomIn Hover Effect*/
.prop-image{
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}
.prop-image img{
    transition: all 1.5s ease;
}
.prop-image:hover img{
    transform: scale(1.2);
}

.first_part{
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 1px;
}

.prop_address{
    width: 50%;
}
.seller{
    width: 50%;
}

.prop_specs_left{
    width: 50%;
}
.prop_specs_right{
    width: 50%;
}

.third_part{
    text-align: center;
    font-weight: bold;
}

.third_part .rent{
    color: #ffffff;
    background-color: rgb(255, 170, 43);
    width: 30%;
    border-radius: 0 0 0 5px;
}
.third_part .rent:hover{
    color: #000000;
}

.third_part .price{
    color: #ffffff;
    background-color: rgb(78, 74, 74);
    width: 70%;
    border-radius: 0 0 5px 0;
}
.third_part .price:hover{
    background-color: pink;
    color: #000000;
}

#map{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

@media (min-width: 768px){
    .news-input{
        width: 50%;
    }
}

.specs{
    color: #05386b;
    font-weight: 900;
}
.specsInfo{
    color: #379683;
    font-weight: 700;
}

.listInfo{
    list-style: none;
}

.buttons{
    border: none;
    background: none;
    /* border-radius: 20%; */
}

#contact_map{
    /* background-image: url("copyright.jpeg"); */
    /* background-image: linear-gradient(135deg,red,yellow); */
    /* filter: grayscale(100%); */
    /* backdrop-filter: brightness(40%);
    backdrop-filter: contrast();
    background-size: 100% 100%;
    background-repeat: no-repeat; */
}

.contactHeading{
    font-weight: 900;
}
.contactDetails{
    font-weight: 500;
}

/* .font{
    font-family: 'Roboto Condensed', sans-serif;
} */

#copyRights{
    font-size: 1rem;
    color: #afb4bf;;
}

.footer{
    background-color: rgb(38, 38, 38);
}

/* New */

/*.card:hover {
    box-shadow: 2px 4px 8px 2px #e9ecef;
    transform: scale(1.1);
}*/